* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

del {
  text-decoration: line-through;
}

body {
  font-family: 'Nunito', Arial, sans-serif;
  font-size: 17px;
  color: #1C2C40;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 400;
  background-image: url('./images/bg/Line.svg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100%; 
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Regular.woff2') format('woff2'),
       url('../fonts/Nunito-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.hero-swoosh {
  position: absolute;
  top: -20%;
  left: -10%;
  width: 120%;
  height: 120%;
  border: 1px solid;
  border-radius: 9999px;
  opacity: 0.1;
}

img{
    display: block;
    width: 100%;
}
